h1.post__header {
    text-transform: none;
}
.post__meta {
    text-align: center;
    margin-top: -3rem; 
    padding-top: 0;
    font-style: italic;
    color: $captionColour;
}
.post__content {
    margin-top: 3.5rem
}