.no-bullet {
    list-style-type: none;
}
.top-bar__logo {
    text-align: center;
    padding: 1.5em 0 0
}
.top-bar__site-heading {
    font-family: $heading-font-family;
    font-size: 2em;
    color: $black-color;
    text-transform: capitalize;
    letter-spacing: -.02em;

    margin: .7em 0 1.5em;
    a {
        color: $black-color;
        border-bottom: none;
        &:hover {
            color: $black-color
        }
    }
}
.logo__link {
    border-bottom: none;
}
.logo__img {
    width: 60px
}

.top-bar__nav {
    display: none;
}
