    <div class="typeset">
        <div class="single-measure">
            <section class="container">
                <h2>Say Hi!</h2>
                <p>
                    Catch me on <a href="https://twitter.com/heyfarai">@heyfarai</a> or farai {at} pixelup.co.za.
                </p>
                <h1>Peace!</h1>
                <br/>
            </section>
        </div>
    </div>
    <script>

      var lazy = [];
      var offscreen = [];

      registerListener('load', setLazy);
      registerListener('load', lazyLoad);

      function setLazy(){
          lazy = document.getElementsByClassName('lazy');
          // GET ALL ITEMS TO ANIMATE LATER
          offscreen = document.getElementsByClassName('offscreen');
      } 

      function lazyLoad(){
          for(var i=0; i<lazy.length; i++){
              if(isInViewport(lazy[i])){
                  var img = lazy[i];
                  if (img.getAttribute('data-src')){
                      img.src = img.getAttribute('data-src');
                      img.removeAttribute('data-src');
                      img.classList.remove('lazy')
                      img.onload = function () {
                          //
                      };
                  }
              }
          }
          cleanLazy();
      }
      function cleanLazy(){
          lazy = Array.prototype.filter.call(lazy, function(l){ return l.getAttribute('data-src');});
      }
      function registerListener(event, func) {
          if (window.addEventListener) {
              window.addEventListener(event, func)
          } else {
              window.attachEvent('on' + event, func)
          }
      }
      function isInViewport(el){
          var rect = el.getBoundingClientRect();
          
          return (
              rect.bottom >= 0 && 
              rect.right >= 0 && 
              rect.top <= (window.innerHeight || document.documentElement.clientHeight) && 
              rect.left <= (window.innerWidth || document.documentElement.clientWidth)
            );
      }
    </script>

    <script src="/js/scripts.js" defer=""></script>

    {{ with .Site.Params.GoogleAnalyticsUserID }}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ . }}', 'auto');
    ga('send', 'pageview');
    </script>
    {{ end }}

  </body>
</html>
