// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
  margin-bottom: 0;
  font-family: $heading-font-family;
  font-weight: 700;
  font-size: .85em;
  text-transform: uppercase;
  color: $primary-color;
}


// Larger than phablet
@media (#{$bp-larger-than-phablet}) {
    h1, h2, h3, h4, h5, h6 {

    }
}
strong, a {
}
p {
  margin-top: 0;
}
