* html .u0_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u0_line.png");
}

* html .u1_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u1_normal.png");
}

* html .u3_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u3_normal.png");
}

* html .u5_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u5_normal.png");
}

* html .u7_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u7_normal.png");
}

* html .u11_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u11_line.png");
}

* html .u12_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u12_line.png");
}

* html .u13_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u13_normal.png");
}

* html .u15_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u13_normal.png");
}

* html .u17_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u13_normal.png");
}

* html .u19c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u19c0.png");
}

* html .u21c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u21c0.png");
}

* html .u23c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u23c0.png");
}

* html .u26_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u26_normal.png");
}

* html .u28_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u28_normal.png");
}

* html .u31c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u31c0.png");
}

* html .u33c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u33c0.png");
}

* html .u33c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u33c1.png");
}

* html .u33c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u33c2.png");
}

* html .u33c3 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u33c3.png");
}

* html .u35c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u35c0.png");
}

* html .u35c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u35c1.png");
}

* html .u35c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u35c2.png");
}

* html .u39_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u39_normal.png");
}

* html .u41_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u41_normal.png");
}

* html .u43_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u13_normal.png");
}

* html .u45_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u13_normal.png");
}

* html .u47_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u13_normal.png");
}

* html .u49_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u13_normal.png");
}

* html .u51_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u13_normal.png");
}

* html .u53c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u53c0.png");
}

* html .u55c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u55c0.png");
}

* html .u57c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u57c0.png");
}

* html .u59c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u59c0.png");
}

* html .u61_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u61_normal.png");
}

* html .u63c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Non_Nedbank_ID_Client___Userflow__High_Level__files/u63c0.png");
}

