body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u0_line.png');
}

.u0_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1620px;
    height:3px;
}

.u0 {
    position:absolute;
    left:350px;
    top:512px;
    width:1620px;
    height:10px;
    
}

.u1_normal {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:130px;
    top:512px;
    width:400px;
    height:10px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:406px;
    height:16px;
}

.u2 {
    position:absolute;
    left:2px;
    top:-3px;
    width:396px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:736px;
    top:146px;
    width:604px;
    height:360px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:610px;
    height:366px;
}

.u4 {
    position:absolute;
    left:2px;
    top:172px;
    width:600px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:1040px;
    top:146px;
    width:930px;
    height:377px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:936px;
    height:383px;
}

.u6 {
    position:absolute;
    left:2px;
    top:180px;
    width:926px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:360px;
    top:445px;
    width:1000px;
    height:77px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:83px;
}

.u8 {
    position:absolute;
    left:2px;
    top:30px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:963px;
    top:140px;
    width:40px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:90px;
    top:510px;
    width:40px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_line {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:0px;
    top:4px;
    width:20px;
    height:3px;
}

.u11 {
    position:absolute;
    left:1010px;
    top:142px;
    width:20px;
    height:10px;
    
}

.u12_line {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:229px;
}

.u12 {
    position:absolute;
    left:1371px;
    top:371px;
    width:10px;
    height:229px;
    
}

.u13_normal {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:350px;
    top:271px;
    width:100px;
    height:120px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:126px;
}

.u14 {
    position:absolute;
    left:2px;
    top:45px;
    width:96px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u13_normal.png');
}

.u15_container {
    position:absolute;
    left:600px;
    top:271px;
    width:100px;
    height:120px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:126px;
}

.u16 {
    position:absolute;
    left:2px;
    top:52px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u13_normal.png');
}

.u17_container {
    position:absolute;
    left:880px;
    top:271px;
    width:100px;
    height:120px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:126px;
}

.u18 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19c0 {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u19c0.png');
}

.u19c0 {
    position:absolute;
    left:446px;
    top:321px;
    width:164px;
    height:20px;
}

.u20 {
    position:absolute;
    left:25px;
    top:-8px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21c0 {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u21c0.png');
}

.u21c0 {
    position:absolute;
    left:696px;
    top:321px;
    width:194px;
    height:20px;
}

.u22 {
    position:absolute;
    left:40px;
    top:-8px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23c0 {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u23c0.png');
}

.u23c0 {
    position:absolute;
    left:976px;
    top:321px;
    width:224px;
    height:20px;
}

.u24 {
    position:absolute;
    left:55px;
    top:-15px;
    width:100px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:50px;
    top:27px;
    width:420px;
    height:53px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:92px;
    top:317px;
    width:35px;
    height:28px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:34px;
}

.u27 {
    position:absolute;
    left:2px;
    top:6px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:100px;
    top:297px;
    width:19px;
    height:19px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:25px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:48px;
    top:355px;
    width:122px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31c0 {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u31c0.png');
}

.u31c0 {
    position:absolute;
    left:123px;
    top:321px;
    width:237px;
    height:20px;
}

.u32 {
    position:absolute;
    left:62px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33c0 {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u33c0.png');
}

.u33c0 {
    position:absolute;
    left:123px;
    top:321px;
    width:147px;
    height:20px;
}

.u33c1 {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u33c1.png');
}

.u33c1 {
    position:absolute;
    left:250px;
    top:206px;
    width:20px;
    height:135px;
}

.u33c2 {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u33c2.png');
}

.u33c2 {
    position:absolute;
    left:250px;
    top:206px;
    width:410px;
    height:20px;
}

.u33c3 {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u33c3.png');
}

.u33c3 {
    position:absolute;
    left:640px;
    top:206px;
    width:20px;
    height:69px;
}

.u34 {
    position:absolute;
    left:182px;
    top:-129px;
    width:100px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35c0 {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u35c0.png');
}

.u35c0 {
    position:absolute;
    left:640px;
    top:387px;
    width:20px;
    height:79px;
}

.u35c1 {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u35c1.png');
}

.u35c1 {
    position:absolute;
    left:390px;
    top:446px;
    width:270px;
    height:20px;
}

.u35c2 {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u35c2.png');
}

.u35c2 {
    position:absolute;
    left:390px;
    top:387px;
    width:20px;
    height:79px;
}

.u36 {
    position:absolute;
    left:-175px;
    top:50px;
    width:100px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:1385px;
    top:589px;
    width:232px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:115px;
    top:535px;
    width:275px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:90px;
    top:535px;
    width:15px;
    height:14px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:20px;
}

.u40 {
    position:absolute;
    left:2px;
    top:-1px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:1160px;
    top:206px;
    width:810px;
    height:250px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:816px;
    height:256px;
}

.u42 {
    position:absolute;
    left:30px;
    top:20px;
    width:778px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u13_normal.png');
}

.u43_container {
    position:absolute;
    left:1190px;
    top:271px;
    width:100px;
    height:120px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:126px;
}

.u44 {
    position:absolute;
    left:2px;
    top:52px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u13_normal.png');
}

.u45_container {
    position:absolute;
    left:1460px;
    top:271px;
    width:100px;
    height:120px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:126px;
}

.u46 {
    position:absolute;
    left:2px;
    top:15px;
    width:96px;
    height:90px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u13_normal.png');
}

.u47_container {
    position:absolute;
    left:1590px;
    top:271px;
    width:100px;
    height:120px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:126px;
}

.u48 {
    position:absolute;
    left:2px;
    top:45px;
    width:96px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u13_normal.png');
}

.u49_container {
    position:absolute;
    left:1720px;
    top:271px;
    width:100px;
    height:120px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:126px;
}

.u50 {
    position:absolute;
    left:2px;
    top:45px;
    width:96px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u13_normal.png');
}

.u51_container {
    position:absolute;
    left:1850px;
    top:271px;
    width:100px;
    height:120px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:126px;
}

.u52 {
    position:absolute;
    left:2px;
    top:52px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53c0 {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u53c0.png');
}

.u53c0 {
    position:absolute;
    left:1286px;
    top:321px;
    width:51px;
    height:20px;
}

.u54 {
    position:absolute;
    left:-32px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55c0 {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u55c0.png');
}

.u55c0 {
    position:absolute;
    left:1556px;
    top:321px;
    width:44px;
    height:20px;
}

.u56 {
    position:absolute;
    left:-35px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57c0 {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u57c0.png');
}

.u57c0 {
    position:absolute;
    left:1686px;
    top:321px;
    width:44px;
    height:20px;
}

.u58 {
    position:absolute;
    left:-35px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59c0 {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u59c0.png');
}

.u59c0 {
    position:absolute;
    left:1816px;
    top:321px;
    width:44px;
    height:20px;
}

.u60 {
    position:absolute;
    left:-35px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:1327px;
    top:301px;
    width:100px;
    height:60px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u62 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63c0 {
    background-image: url('../Non_Nedbank_ID_Client___Userflow__High_Level__files/u63c0.png');
}

.u63c0 {
    position:absolute;
    left:1423px;
    top:321px;
    width:47px;
    height:20px;
}

.u64 {
    position:absolute;
    left:-34px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

