{{ partial "default_head.html" . }}
<div class="errythang section typeset">
  <div class="single-measure">
    <header class="container">
      <div class="avatar-wrapper">
        <img data-src="/img/smiley-farai-madzima-3-4.jpg" alt="Farai with a bushy beard, smiling" class="lazy avatar"
          src="/img/smiley-farai-madzima-3-4--tn.jpg">
      </div>
      <h1>Peace!</h1>
      <p>
        <strong>
          <span class="firstcharacter">👋🏾</span>
          I <a href="#coaching">coach</a> managers on people leadership,
          <a href="#speaking">speak at conferences</a> about building effective teams, and <a href="#9-to-5">manage</a> designers at Shopify.
          A Zimbabwean 🇿🇼 living in Canada 🇨🇦.</strong>
      </p>
    </header>
    <main>
      <!-- <section class="container"> {{ if gt (len (where .Data.Pages "Type" "blog")) 0 }} <h2>I Recently wrote</h2> {{ range where .Data.Pages "Type" "blog" }} <p> <a href="{{ .Permalink }}">{{ .Title }}</a> <br> <span class="grey">{{ .Date.Format "Jan 2, 2006" }}</span> </p> {{ end }} {{ end }} </section> -->
      <section id="coaching" class="container">
        <h2>I Coach managers who care</h2>
        <p><i>People stuff is hard.</i> But you care. And you want to be better at it because, like me, you believe people matter. You've just started leading a team or have been doing it for a few years. You want to grow your people leadership skills and unlock the next level of what you can achieve.</p>
        <p>I work with new and emerging leaders around the world to increase their people leadership skillset and develop effective, inclusive practices that make them better at people stuff.</p>
        <p>Ready to get <i>Good at people stuff?</i> <br><a href="https://fantastical.app/farai/intro-coaching-call">Book a coaching call with me </a>&rarr;</p>
        </ul>
      </section>
      <section id="speaking" class="container">
        <h2>Speaking and Workshops</h2>
        <p>I speak around the world and online. These days I'm focussed on talking about
          <strong>working effectively in multicultural teams</strong>. If you’d like me to speak at a public or private
          event, catch me on
          <strong>farai (at) pixelup.co.za</strong>.</p>

        <h2>Up next</h2>
        <ul>
          {{ range sort .Site.Data.appearances ".eventDate" "asc" }}
          {{ if gt (time .eventDate).Unix now.Unix   }}
          {{ if eq (time .eventDate).Year 2022   }}
          {{ partial "_appearance_li.html" . }}
          {{ end }}
          {{ end }}
          {{ end }}
        </ul>
      </section>
      <section class="container">
        <h3>Video of my talk at
          <a href="https://2019.leadingdesignconf.com/newyork">Leading Design 2019 (New York) </a>
        </h3>
        <br>
        <div style="padding:56.25% 0 0 0;position:relative;">
          <iframe title="talk-video" src="https://player.vimeo.com/video/350720470?title=0&byline=0&portrait=0"
            style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
            webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen"
            allowfullscreen="allowfullscreen"></iframe>
        </div>
        <script src="https://player.vimeo.com/api/player.js"></script>
        <!-- <div class="video"> <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;"><iframe title="talk-video" src="https://www.youtube.com/embed/IWS9K_rxmOY?rel=0" frameborder="0" allowfullscreen="" allow="autoplay; encrypted-media"></iframe></div> </div> -->
        <br>
      </section>
      <section class="container">
        <h2>Past events I've spoken at</h2>
        <h3>2021</h3>
        <ul>
          {{ range sort .Site.Data.appearances ".eventDate" "desc" }}
          {{ if lt (time .eventDate).Unix now.Unix   }}
          {{ if eq (time .eventDate).Year 2021   }}
          {{ partial "_appearance_li.html" . }}
          {{ end }}
          {{ end }}
          {{ end }}
        </ul>
        <h3>2020</h3>
        <ul>
          {{ range sort .Site.Data.appearances ".eventDate" "desc" }}
          {{ if lt (time .eventDate).Unix now.Unix   }}
          {{ if eq (time .eventDate).Year 2020   }}
          {{ partial "_appearance_li.html" . }}
          {{ end }}
          {{ end }}
          {{ end }}
        </ul>
        <h3>2019</h3>
        <ul>
          {{ range sort .Site.Data.appearances ".eventDate" "desc" }}
          {{ if lt (time .eventDate).Unix now.Unix   }}
          {{ if eq (time .eventDate).Year 2019   }}
          {{ partial "_appearance_li.html" . }}
          {{ end }}
          {{ end }}
          {{ end }}
        </ul>
        <h3>2018</h3>
        <ul>
          {{ range sort .Site.Data.appearances ".eventDate" "desc" }}
          {{ if lt (time .eventDate).Unix now.Unix   }}
          {{ if eq (time .eventDate).Year 2018   }}
          {{ partial "_appearance_li.html" . }}
          {{ end }}
          {{ end }}
          {{ end }}
        </ul>
        <h3>2017</h3>
        <ul>
          {{ range sort .Site.Data.appearances ".eventDate" "desc" }}
          {{ if eq (time .eventDate).Year 2017   }}
          {{ partial "_appearance_li.html" . }}
          {{ end }}
          {{ end }}
        </ul>
        <h3>2016</h3>
        <ul>
          {{ range sort .Site.Data.appearances ".eventDate" "desc" }}
          {{ if eq (time .eventDate).Year 2016   }}
          {{ partial "_appearance_li.html" . }}
          {{ end }}
          {{ end }}
        </ul>
      </section>
      <section id="conferences" class="container ">
        <h2>Organising Conferences</h2>
        <p>I founded and ❤️ organising
          <a href="https://pixelup.co.za">Pixel Up!</a>
          a UX and design conference. These events exist to help bridge the gap between designers and developers in Africa with those from around the world.
        </p>
      </section>
      <section id="9-to-5" class="container">
        <h2>Design leadership</h2>
        <p>I hang with the Shopify Balance UX leadership team at
          <a href="https://shopify.com">Shopify</a>, where we’re building next-generation ecommerce tools that make commerce easier for everyone. In a past life, in South Africa, I led the experience design team at
          <a href="https://standardbank.co.za">Standard Bank Group</a>, Africa's largest bank.
        </p>
        </ul>
      </section>
    </main>
  </div>
</div>

{{ partial "default_foot.html" . }}