{{ partial "default_head.html" . }}
<div class="errythang-grid" id="the-beginning">
    <div class="avatar-wrapper">
      <a href="#the-beginning">
      <img data-src="/img/smiley-farai-madzima-3-4.jpg" alt="Farai with a bushy beard, smiling" class="lazy avatar"
        src="/img/smiley-farai-madzima-3-4--tn.jpg">
      </a>
    </div>
  <section class="section--with-grid section--no-padding-top">
    <div class="section-heading">
      <h1>Peace!</h1>
    </div>
    <div class="section-content ">
      <p>
        <strong>
          I'm Farai. I <a href="#coaching">coach managers</a> on people leadership, 
          <a href="#speaking">speak at conferences</a> about managing individuals and teams, and work in <a href="#9-to-5">design leadership</a> at Shopify. A Zimbabwean 🇿🇼 living in Canada 🇨🇦.
        </strong>
      </p>

    </div>
  </section>
</div>
      <!-- <section class="container"> {{ if gt (len (where .Data.Pages "Type" "blog")) 0 }} <h2>I Recently wrote</h2> {{ range where .Data.Pages "Type" "blog" }} <p> <a href="{{ .Permalink }}">{{ .Title }}</a> <br> <span class="grey">{{ .Date.Format "Jan 2, 2006" }}</span> </p> {{ end }} {{ end }} </section> -->
  <main class="errythang-grid">
    <section id="coaching" class="section--with-grid">
      <h2 class="section-heading">Coaching</h2>
      <div class="section-content ">
      <p>I work with new and emerging leaders around the world to increase their people leadership skillset and develop effective, inclusive practices that make them better at people stuff.</p>
      <br>
      <p>Ready to get <i>Good at people stuff?</i> <br><a href="https://calendly.com/farai/coaching-intro">Book a coaching call with me </a>&rarr;</p>
      </div>
    </section>

        {{/*  {{ $lies := (where .Site.RegularPages "Type" "lies") }}
        {{ if gt (len $lies) 0 }}
        <section id="lies" class="section--with-grid">
          <h2 class="section-heading">Lies about leadership</h2>
          <div class="section-content ">
            <p>I didn't chose to become a manager. It just happened to me. Early on, I believed lots of misconceptions and lies about leadership that I had picked up through experience. <br> <br></p>
            <p>Here are some of them:</p>
              {{ partial "_lie-list.html" $lies }}
          </div>
        </section>
        {{ end }}  */}}


        {{ $posts := (where .Site.RegularPages "Type" "blog") }}
        {{ if gt (len $posts) 0 }}
        <section id="blog" class="section--with-grid">
            <h2 class="section-heading">Read my mind</h2>
          <div class="section-content ">
            <ul class="module-blog-list">
            {{ range (where .Site.RegularPages "Type" "blog" | first 10) }}
                <li>
                <a class="blog-post-title" href="{{ .Permalink }}">{{ .Title }}</a>
                <span class="grey article-date">{{ .Date | time.Format ":date_medium" }}</span>
                </li>
            {{ end }}
            </ul>
            </div>
        </section>
        {{ end }}
      <section id="speaking" class="section--with-grid">
        <h2 class="section-heading">Speaking</h2>
          <div class="section-content ">
            <p>I speak around the world and online. These days I'm focussed on talking about
            <strong>working effectively in multicultural teams</strong>. If you’d like me to speak at a public or private
            event, catch me on
            <strong>farai (at) pixelup.co.za</strong>.</p>
              <br>
            <h3>Up next</h3>
            <ul class="item-appearance-list">
              {{ range  .Site.Data.appearances }}
              {{ if gt (time .eventDate).Unix now.Unix   }}
              {{ partial "_appearance_li.html" . }}
              {{ end }}
              {{ end }}
            </ul>
            <div>
              <br>
              <h3>Video of my talk at
                <a href="https://2019.leadingdesignconf.com/newyork">Leading Design 2019 (New York) </a>
              </h3>
              <br>
              <div style="padding:56.25% 0 0 0;position:relative;">
                <iframe title="talk-video" src="https://player.vimeo.com/video/350720470?title=0&byline=0&portrait=0"
                  style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                  webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen"
                  allowfullscreen="allowfullscreen"></iframe>
              </div>
              <script src="https://player.vimeo.com/api/player.js"></script>
              <!-- <div class="video"> <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;"><iframe title="talk-video" src="https://www.youtube.com/embed/IWS9K_rxmOY?rel=0" frameborder="0" allowfullscreen="" allow="autoplay; encrypted-media"></iframe></div> </div> -->
              <br>
            </div>
            <div>
        <h3>Past events I've spoken at</h3>
        <h4>2022</h4>
        <ul class="item-appearance-list">
          {{ range sort .Site.Data.appearances ".eventDate" "desc" }}
          {{ if lt (time .eventDate).Unix now.Unix   }}
          {{ if eq (time .eventDate).Year 2022   }}
          {{ partial "_appearance_li.html" . }}
          {{ end }}
          {{ end }}
          {{ end }}
        </ul>
        <h4>2021</h4>
        <ul class="item-appearance-list">
          {{ range sort .Site.Data.appearances ".eventDate" "desc" }}
          {{ if lt (time .eventDate).Unix now.Unix   }}
          {{ if eq (time .eventDate).Year 2021   }}
          {{ partial "_appearance_li.html" . }}
          {{ end }}
          {{ end }}
          {{ end }}
        </ul>
        <h4>2020</h4>
        <ul class="item-appearance-list">
          {{ range sort .Site.Data.appearances ".eventDate" "desc" }}
          {{ if lt (time .eventDate).Unix now.Unix   }}
          {{ if eq (time .eventDate).Year 2020   }}
          {{ partial "_appearance_li.html" . }}
          {{ end }}
          {{ end }}
          {{ end }}
        </ul>
        <h4>2019</h4>
        <ul class="item-appearance-list">
          {{ range sort .Site.Data.appearances ".eventDate" "desc" }}
          {{ if lt (time .eventDate).Unix now.Unix   }}
          {{ if eq (time .eventDate).Year 2019   }}
          {{ partial "_appearance_li.html" . }}
          {{ end }}
          {{ end }}
          {{ end }}
        </ul>
        <h4>2018</h4>
        <ul class="item-appearance-list">
          {{ range sort .Site.Data.appearances ".eventDate" "desc" }}
          {{ if lt (time .eventDate).Unix now.Unix   }}
          {{ if eq (time .eventDate).Year 2018   }}
          {{ partial "_appearance_li.html" . }}
          {{ end }}
          {{ end }}
          {{ end }}
        </ul>
        <h4>2017</h4>
        <ul class="item-appearance-list">
          {{ range sort .Site.Data.appearances ".eventDate" "desc" }}
          {{ if eq (time .eventDate).Year 2017   }}
          {{ partial "_appearance_li.html" . }}
          {{ end }}
          {{ end }}
        </ul>
        <h4>2016</h4>
        <ul class="item-appearance-list">
          {{ range sort .Site.Data.appearances ".eventDate" "desc" }}
          {{ if eq (time .eventDate).Year 2016   }}
          {{ partial "_appearance_li.html" . }}
          {{ end }}
          {{ end }}
        </ul>
      </div>
          </div>
      
      </section>
      <section id="conferences" class="section--with-grid ">
        <h2 class="section-heading">Organising Conferences</h2>
        <div class="section-content">
        <p>I founded and ❤️ organising
          <a href="https://pixelup.co.za">Pixel Up!</a>
          a UX and design conference. These events exist to help bridge the gap between designers and developers in Africa with those from around the world.
        </p>

        </div>
      </section>
      <section id="9-to-5" class="section--with-grid">
        <h2 class="section-heading">Design leadership</h2>
        <div class="section-content">
        <p>I hang with the Shopify Balance UX leadership team at
          <a href="https://shopify.com">Shopify</a>, where we’re building next-generation ecommerce tools that make commerce easier for everyone. In a past life, in South Africa, I led the experience design team at
          <a href="https://standardbank.co.za">Standard Bank Group</a>, Africa's largest bank.
        </p>
        </ul>
        </div>
      </section>
    </main>
</div>

{{ partial "default_foot.html" . }}