h1.post__header {
  text-transform: none;
}
.post__meta {
  text-align: center;
  margin-top: -3rem;
  padding-top: 0;
  font-style: italic;
  color: $captionColour;
}
.post__content {
  margin-top: 3.5rem;
}

.module-blog-list {
  li {
    display: flex;
    flex-direction: row;
    &.lie-list-item {
    }
    .blog-post-title {
      flex: max-content;
      background-image: none;
    }
    .article-date {
      flex: initial;
      text-align: right;
    }
    .lie-id {
      margin-right: 1rem;
    }
  }
}
