// Text colours. British English.
$greenColour: #0bb051 !default;
$redColour: #ff1935 !default;

$headingColour: #222222 !default;
$bodyColour: #222222 !default;
$linkColour: $greenColour;
$hoverColour: #444444 !default;
$captionColour: #bdc8cc !default;
$white: #ffffff !default;
$black: #222222 !default;
$primaryColour: $greenColour;
$grey: #383838 !default;

// Background colours.
$backgroundColour: #fdfdfd !default;
$codeBackgroundColour: #f5f4f2 !default;
