{{ partial "default_head.html" . }}
<div class="errythang section typeset">
  <div class="single-measure">
    <header class="container">
      <div class="avatar-wrapper">
        <a href="/">
            <img data-src="/img/smiley-farai-madzima-3-4.jpg" alt="Farai with a bushy beard, smiling" class="lazy avatar" src="/img/smiley-farai-madzima-3-4--tn.jpg">
        </a>
      </div>
      <h1>Peace!</h1>

    </header>
    <main>
        <section class="container">
        {{ $posts := (where .Site.RegularPages "Type" "blog") }}
        {{ if gt (len $posts) 0 }}
            <h2>Read my mind</h2>
            <ul class="module-blog-list">
            {{ range (where .Site.RegularPages "Type" "blog" | first 10) }}
                <li>
                <a class="blog-post-title" href="{{ .Permalink }}">{{ .Title }}</a>
                <span class="grey article-date">{{ .Date | time.Format ":date_medium" }}</span>
                </li>
            {{ end }}
            </ul>
            {{ else }}
            <h2>Read my mind</h2>
            <p>I'm thinking about writing blog posts, I've even written some drafts. But I feel scared to publish, 'cos I listen to the imposter too much.</p>
            {{ end }}
        </section>
    </main>
  </div>

  </div>
  {{ partial "default_foot.html" . }}
</div>
