{{ partial "default_head.html" . }}
<div class="errythang section">
  <div class="">
    <header class="container">
      <div class="avatar-wrapper">
        <a href="/">
          <img
            data-src="/img/smiley-farai-madzima-3-4.jpg"
            alt="Farai with a bushy beard, smiling"
            class="lazy avatar"
            src="/img/smiley-farai-madzima-3-4--tn.jpg"
          />
        </a>
      </div>
      <h1>I can't find that page</h1>
    </header>
    <main>
      <section class="container">
        <article class="article article--single blog-article">
          <p>Maybe:</p>
          <ul>
            <li>My code is sucktastic.</li>
            <li>An out-of-date bookmark/favourite</li>
            <li>A search engine that has an out-of-date listing for me</li>
            <li>A mis-typed address</li>
            <li>All of the above?</li>
          </ul>
        </article>
      </section>
    </main>
  </div>
  {{ partial "default_foot.html" . }}
</div>
