{{ partial "default_head.html" . }}

<div class="errythang section">
  <div class="">
    <header class="container">
      <div class="avatar-wrapper">
        <img
          data-src="/img/smiley-farai-madzima-3-4.jpg"
          alt="Farai with a bushy beard, smiling"
          class="lazy avatar"
          src="/img/smiley-farai-madzima-3-4--tn.jpg"
        />
      </div>
      <h1>{{ .Title }}</h1>
    </header>
    <main>
      <section class="container">{{ .Content }}</section>
    </main>
  </div>
</div>

{{ partial "default_foot.html" . }}
